<header aria-label="Page Header" class="bg-site-blue h-[75vh]">
  <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="flex items-center sm:justify-between sm:gap-4">
      <p class="font-bold text-white">NEEMA NGUGI</p>

      <div class="flex flex-1 items-center justify-between gap-8 sm:justify-end">
        <div class="flex gap-12">

          <p class="text-white">FEATURED WORKS</p>
          <p class="text-white">LETS TALK</p>
          <p class="text-white">CONTACT</p>


        </div>

        <button class="rounded-full bg-[#377DFF] py-2 px-6 text-white">RESUME</button>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-12 my-28">
      <div class="mt-8 space-y-10">
        <h3 class="text-3xl font-semibold text-white">Product designer</h3>
        <h1 class="text-5xl font-semibold text-white">
          Hi there, I'm <span class="text-blue-500">Neema</span> <br> glad to see you here <br> ...
        </h1>



        <div class="flex flex-row justify-start gap-4">
          <button type="button"
            class="text-white bg-blue-500 hover:bg-gray-100 hover:text-black focus:ring-4 focus:ring-gray-200 font-medium rounded-lg px-5 py-3 mr-2 mb-2">Start
            a Project</button>
          <button type="button"
            class="bg-transparent border border-blue-500 text-blue-500 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-xl px-5 py-3 mr-2 mb-2">See
            All Work</button>
        </div>
      </div>
      <div class="flex flex-row justify-end ml-20 -mr-16">
        <img src="assets/illustration.png" alt="" class="h-64">
      </div>



    </div>

  </div>
</header>
<section class="w-full bg-[#0F2945] pb-6">
  <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="flex flex-col items-left sm:justify-between sm:gap-4">
      <h3 class="text-4xl font-semibold mt-6 text-white">Featured Works</h3>
      <div class="flex flex-row justify-left space-x-6 mt-6">
        <div class="border-b-2 border-white text-white px-4">
          <span class="text-2xl text-white">All</span>
        </div>
        <div class="hover:border-b-2 hover:border-white text-white px-4">
          <span class="text-2xl text-white">Ui/Ux Design</span>
        </div>
        <div class="hover:border-b-2 hover:border-white px-4">
          <span class="text-2xl text-white">Graphic Design</span>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-12 mt-4">
      <div class="flex flex-col my-6 min-w-[1/2]">
        <img src="assets/project1.png" alt="">
        <div class="flex flex-row justify-between mx-3 my-4">
          <span class="text-lg text-white">App Design</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </div>
        <span class="ml-3 text-2xl text-white">Kopa Cash - Lending Mobile App</span>
      </div>
      <!-- ... -->
      <div class="flex flex-col my-6 min-w-[1/2]">
        <img src="assets/project2.png" alt="">
        <div class="flex flex-row justify-between mx-3 my-4">
          <span class="text-lg text-white">App Design</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </div>
        <span class="ml-3 text-2xl text-white">Kopa Cash - Lending Mobile App</span>
      </div>
      <div class="flex flex-col my-6 min-w-[1/2]">
        <img src="assets/project3.png" alt="">
        <div class="flex flex-row justify-between mx-3 my-4">
          <span class="text-lg text-white">App Design</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </div>
        <span class="ml-3 text-2xl text-white">Kopa Cash - Lending Mobile App</span>
      </div>
      <div class="flex flex-col my-6 min-w-[1/2]">
        <img src="assets/project4.png" alt="">
        <div class="flex flex-row justify-between mx-3 my-4">
          <span class="text-lg text-white">App Design</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </div>
        <span class="ml-3 text-2xl text-white">Kopa Cash - Lending Mobile App</span>
      </div>
      <div class="flex flex-col my-6 min-w-[1/2]">
        <img src="assets/project5.png" alt="">
        <div class="flex flex-row justify-between mx-3 my-4">
          <span class="text-lg text-white">App Design</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </div>
        <span class="ml-3 text-2xl text-white">Kopa Cash - Lending Mobile App</span>
      </div>

    </div>
  </div>
</section>
<section class="w-full bg-[#122E4E] py-32">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-3 gap-12 mt-4">
      <div class="col-span-1">
        <h4 class="text-blue-500 font-semibold mb-8">LETS MAKE THAT IDEA <br> HAPPEN!</h4>
        <p class="text-white text-3xl font-bold">Lets create the future together!</p>
      </div>
      <div class="col-span-2">
        <div class="grid grid-cols-2 gap-12">
          <div class="mb-6">
            <input type="text" id="name-input" placeholder="Name"
              class="block w-full p-4 text-white border-2 border-white placeholder-white rounded-lg bg-[#0E2640] focus:ring-white">
          </div>
          <div class="mb-6">
            <input type="email" id="email-input" placeholder="Email"
              class="block w-full p-4 text-white border-2 border-white placeholder-white rounded-lg bg-[#0E2640] focus:ring-white">
          </div>
        </div>
        <div class="my-8">
          <textarea placeholder="Message"
            class="block w-full p-4 text-white border-2 border-white placeholder-white rounded-lg bg-[#0E2640] focus:ring-white"></textarea>
        </div>
        <button class="rounded-lg px-7 py-4 bg-blue-500 text-white">Send Message</button>
      </div>
    </div>

  </div>
</section>