<header aria-label="Page Header" class="bg-site-blue h-[70vh]">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="flex items-center sm:justify-between sm:gap-4">
      <p class="font-bold">NEEMA NGUGI</p>

      <div class="flex flex-1 items-center justify-between gap-8 sm:justify-end">
        <div class="flex gap-4">

          <p>FEATURED WORKS</p>
          <p>LETS TALK</p>
          <p>CONTACT</p>


        </div>

        <button class="rounded-full bg-button-green py-2 px-6 text-white">RESUME</button>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-12 my-28">
      <div class="mt-8 space-y-10">
        <h1 class="text-5xl font-semibold text-gray-900">
          Designing a better world with user experience.
        </h1>

        <p class="mt-1.5 text-sm text-gray-500">
          Focusing to utilise my creative skills and passion for design to enhance user experience and deliver
          high-quality designs 🚀
        </p>

        <div class="flex flex-row justify-start gap-4">
          <button type="button"
            class="text-white bg-button-green border focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-xl px-5 py-3 mr-2 mb-2">Start
            a Project</button>
          <button type="button"
            class="bg-transparent border border-button-green text-button-green focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-xl px-5 py-3 mr-2 mb-2">See
            All Work</button>
        </div>
      </div>
      <div class="flex flex-row justify-center ml-20">
        <img src="assets/neems.svg" alt="" class="max-h-[40vh]">
      </div>



    </div>

  </div>
</header>
<section class="w-full h-[70vh]">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="flex flex-col items-left sm:justify-between sm:gap-4">
      <h3 class="text-4xl font-semibold mt-6">Featured Works</h3>
      <div class="flex flex-row justify-left space-x-6 mt-6">
        <div class="border-b-2 border-black px-4">
          <span class="text-2xl">All</span>
        </div>
        <div class="hover:border-b-2 hover:border-black px-4">
          <span class="text-2xl">Ui/Ux Design</span>
        </div>
        <div class="hover:border-b-2 hover:border-black px-4">
          <span class="text-2xl">Graphic Design</span>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-12 mt-4">
      <div class="flex flex-col my-6 min-w-[1/2]">
        <img src="assets/project1.png" alt="">
        <div class="flex flex-row justify-between mx-3 my-4">
          <span class="text-lg">App Design</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </div>
        <span class="ml-3 text-2xl">Kopa Cash - Lending Mobile App</span>
      </div>
      <!-- ... -->
      <div class="flex flex-col my-6 min-w-[1/2]">
        <img src="assets/project2.png" alt="">
        <div class="flex flex-row justify-between mx-3 my-4">
          <span class="text-lg">App Design</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </div>
        <span class="ml-3 text-2xl">Kopa Cash - Lending Mobile App</span>
      </div>
      <div class="flex flex-col my-6 min-w-[1/2]">
        <img src="assets/project3.png" alt="">
        <div class="flex flex-row justify-between mx-3 my-4">
          <span class="text-lg">App Design</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </div>
        <span class="ml-3 text-2xl">Kopa Cash - Lending Mobile App</span>
      </div>
      <div class="flex flex-col my-6 min-w-[1/2]">
        <img src="assets/project4.png" alt="">
        <div class="flex flex-row justify-between mx-3 my-4">
          <span class="text-lg">App Design</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </div>
        <span class="ml-3 text-2xl">Kopa Cash - Lending Mobile App</span>
      </div>
      <div class="flex flex-col my-6 min-w-[1/2]">
        <img src="assets/project5.png" alt="">
        <div class="flex flex-row justify-between mx-3 my-4">
          <span class="text-lg">App Design</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </div>
        <span class="ml-3 text-2xl">Kopa Cash - Lending Mobile App</span>
      </div>
      
    </div>
  </div>
</section>